---
title: Xemmet - Emmet for Komodo X
type: website
description: Xemmet - Emmet for Komodo X
name: Xemmet - Emmet for Komodo X
project:
    id: komodo-xemmet
    repo: Xemmet
    name: Xemmet
    lang: javascript
tags: komodo emmet html css fast coding
layout: :base
css:
    - xemmet/index.css
js:
    - xemmet/main.js
---
.center
    .header
        span.title Xemmet
        .description
            ' the essential toolkit for web-developers using
            = link_to "Komodo", "//komodoide.com"
    .block#download
        .text
            #download-btn
                = link_to "<i class='fa fa-download'></i> Download", "//komodoide.com/packages/addons/xemmet"
    .block#features
        .text
            .subblock#expand-abbreviation
                span.title
                    ' Expand Abbreviation
                    = link_to "<i class='fa fa-link'></i>", "#expand-abbreviation"
                .description
                    | You can easily expand <code>.block>ul>li{Item $$}*4</code> to
                    = code 'html' do
                        |
                            <div class="block">
                                <ul>
                                    <li>Item 01</li>
                                    <li>Item 02</li>
                                    <li>Item 03</li>
                                    <li>Item 04</li>
                                </ul>
                            </div>
                    |
                        To do that, put your caret after an Emmet abbreviation and
                        press <kbd>Tab</kbd>.
            .subblock#wrap-selection
                span.title
                    ' Wrap Selection
                    = link_to "<i class='fa fa-link'></i>", "#wrap-selection"
                .description
                    |
                        Wrap Selection is a re-work of original Emmet feature.
                        It's using your editor instead of a prompt window.
                        You can select any text, press <kbd>Ctrl+Tab</kbd>
                        and type an abbreviation you want to wrap your text
                        with.
                    br
                    |
                        For example, if you type
                        <code>.div>.article>.title</code>, your text will be
                        wrapped with:
                    = code 'html' do
                        |
                            <div class="div">
                                <div class="article">
                                    <div class="title">{Your text}</div>
                                </div>
                            </div>
                    |
                        Xemmet looks for <code>{}</code> in your abbreviation
                        and it will put your text at this placeholder. If there's
                        no such brackets, Xemmet will automatically add them the end of
                        your abbreviation.
            .subblock#toolbox-integration
                span.title
                    ' Toolbox Integration
                    = link_to "<i class='fa fa-link'></i>", "#toolbox-integration"
                .description
                    |
                        Xemmet provides a very simple way to define your own abbreviations. You can create a snippet in your Toolbox
                        and Xemmet will find it.
                    br
                    |
                        A snippet should be named <code>xemmet_%Abbreviation</code>
                        and be in <code>Abbreviations - general</code> folder.
                        If you want it to be language-specific, put it in
                        <code>Abbreviations - css/html</code> folder.
                        It works in Project-specific toolbox too!
                    .note
                        |
                            You can override default abbreviations. Name your snippet
                            in the same way as the abbreviation you want to override.
            .subblock#flexible-settings
                span.title
                    ' Flexible Settings
                    = link_to "<i class='fa fa-link'></i>", "#flexible-settings"
                .description
                    |
                        Xemmet provides different settings you can customize.
                        You can find them under <code>Editor - Smart Editing</code>.
    .copyright
        ' Xemmet &copy; 2016 by
        = link_to "Defman21", "/"
