
.button-preview {
    cursor: pointer !important;
    
    i {
        font-size: 0.9rem;
        vertical-align: 0.2rem;
        transform-origin: center 0.5rem;
        transform: translateZ(0);
    }
    
    &.close {
        i {
            animation: .3s icon-rotate ease forwards;
        }
    }
    
    &.open {
        i {
            animation: .3s icon-rotate-i ease forwards;
        }
    }
}

.preview {
    max-height: 0;
    margin-top: 5px;
    transform-origin: top center;
    overflow-y: auto;
    transform: translateZ(0);
    
    &.open {
        animation: 1s open-preview ease forwards;
    }
    
    &.close {
        animation: 1s close-preview ease forwards;
    }
    
    & > pre, code.prettyprint {
        border: none;
        margin: 0;
        padding: 0;
        white-space: pre;
        & > code {
            padding: 5px;
            overflow-x: auto;
        }
    }
}
