$background:         #ffffff;
$foreground:         #333333;
$special:            #0D8FDB;
$inactive:           #E5E5E5;
$foreground-special: #606060;
$background-special: #F7F7F7;

$wrapper-width:     100%;
$wrapper-width-max: 960px;

$font-small:  0.9rem;
$font-normal: 1rem;
$font-big:    1.5rem;

$margin-small:  0.5rem;
$margin-normal: 1rem;
$margin-big:    1.5rem;

$padding-small:  0.5rem;
$padding-normal: 1rem;
$padding-big:    1.5rem;

$transition: 150ms;