@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

$background:         #ffffff;
$foreground:         #333333;
$special:            #BA488A;
$inactive:           #E5E5E5;
$foreground-special: #606060;
$background-special: #F9F9F9;
$search:             #757575;

$wrapper-width:     100%;
$wrapper-width-max: 860px;
$content-width:     680px;

$font-small:  0.9rem;
$font-normal: 1rem;
$font-bigger: 1.2rem;
$font-big:    1.4rem;

$lh-normal:   1rem;
$lh-bigger:   1.25rem;
$lh-big:      1.5rem;
$lh-p-tag:    2rem;

$margin-small:  0.5rem;
$margin-normal: 1rem;
$margin-big:    1.7rem;

$padding-small:  0.5rem;
$padding-normal: 1rem;
$padding-big:    1.7rem;

$transition: 150ms;
