@import "variables";
@import "normalize";

body {
    font: $font-normal Roboto;
    background: $background;
    color: $foreground;
}

a {
    color: $special;
    text-decoration: none;
    outline: 0;
}

input:focus {
    outline: none;
}

code.prettyprint {
    background: $background-special;
}

img {
    max-width: 100%;
}

.overlay {
    width: $wrapper-width;
    max-width: $wrapper-width-max;
    margin: 0 auto;
}

header, main { margin-bottom: $margin-normal; }

header {
    width: 100%;
    padding: $padding-big 0;
    box-shadow: 0 0 16px 6px rgba($foreground, 0.03);
    
    .overlay {
        display: flex;
        justify-content: flex-end;
    }
    
    .logo {
        font-size: $font-normal;
        text-transform: uppercase;
        margin-right: $margin-big;
        flex-grow: 1;
        font-weight: 500;
        
        a { color: $foreground; }
    }
    
    nav {        
        a {
            margin-right: $margin-big;
            position: relative;
            color: lighten($foreground, 25);
            transition: all $transition ease;
            font-weight: 300;
            
            &:last-of-type {
                margin-right: 0;
            }
            
            &:hover {
                color: $foreground;
            }
        }
    }
}

#search {
    margin-bottom: $margin-normal;
    position: relative;
    
    input {
        border: 1px solid $inactive;
        padding: $padding-small;
        box-sizing: border-box;
        width: 100%;
        transition: all 150ms ease;
        font-weight: 300;
        
        &:focus {
            border-color: $special;
        }
    }
    
    #results {
        border: 1px solid $inactive;
        border-top: none;
        background: $background;
        position: absolute;
        width: 100%;
        box-sizing: border-box;
        max-height: 40vh;
        overflow-y: auto;
        
        .result {
            padding: $padding-normal $padding-small;
            transition: all 150ms ease;
            box-sizing: border-box;
            border-bottom-width: 0px;
            
            .link {
                display: block;
                color: $foreground;
                transition: all 150ms ease;
                font-weight: 500;
            }
            
            .description {
                display: block;
                color: $foreground-special;
                padding-top: $padding-small;
                font-weight: 300;
            }
            
            &:hover {
                background: $background-special;
                
                .link {
                    color: $special;
                }
            }
        }
    }
}

.container {
    margin-bottom: $margin-normal;
    padding-bottom: $padding-normal;
    
    .title {
        font-size: $font-big;
        text-transform: capitalize;
        display: block;
        margin-bottom: $margin-small;
        font-weight: 500;
        
        a {
            color: $foreground;
        }
    }
    
    .infobar {
        margin: $margin-normal 0;
        font-size: $font-small;
        font-weight: 300;
        
        span {
            margin-right: $margin-normal;
            color: $foreground-special;
            
            a {
                cursor: pointer;
                color: darken($foreground, 10);
            }
        }
        
        .hidden-tags {
            display: none;
            
            &.visible {
                display: inline-block;
            }
        }
        
        .load-tags {
            color: $special;
            border-bottom: 1px dashed currentColor;
        }
    }
    
    .content {
        line-height: 1.5rem;
        
        a.read-more {
            display: block;
            margin-top: $margin-normal;
            font-size: 0.9rem;
            font-weight: 300;
        }
        
        p {
            margin: 0;
            margin-bottom: $margin-big;
        }
        
        @for $i from 1 through 6 {
            h#{$i} {
                font-size: inspect(1.4 - $i/10) + "rem";
                font-weight: normal;
            }
        }
    }
}

.pagination {
    a {
        padding: $padding-small $padding-normal;
        padding-left: 0;
        color: $foreground-special;
        transition: all 150ms ease;
        font-weight: 300;
        
        i {
            font-size: $font-small;
            vertical-align: baseline;
        }
        
        &:hover {
            color: $special;
        }
    }
}

#comments_loading {
    font-size: $font-big;
    text-align: center;
}

footer {
    text-align: center;
    font-weight: 300;
    padding: $padding-big 0;
    
    a {
        color: $foreground-special;
    }
}

@media screen and (max-width: 980px) {
    .overlay {
        padding: $padding-small;
        box-sizing: border-box;
    }
    header {
        padding: $padding-normal $padding-small;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 420px) {
    header {
        .overlay {
            flex-wrap: wrap;
            justify-content: center;
            
            .logo {
                display: none;
            }
        }
    }
}