@import "variables";
@import "normalize";

body {
    font: $font-normal Roboto;
    background: $background;
    color: $foreground;
}

a {
    color: $special;
    text-decoration: none;
    outline: 0;
}

code.prettyprint {
    background: $background-special;
}

img {
    width: 100%;
}

.overlay {
    width: $wrapper-width;
    max-width: $wrapper-width-max;
    margin: 0 auto;
}

header, main { margin-bottom: $margin-normal; }

header {
    width: 100%;
    padding: $padding-big 0;
    box-shadow: 0 0 8px 3px rgba($foreground, 0.04);
    
    .logo {
        font-size: $font-normal;
        text-transform: uppercase;
        display: inline-block;
        margin-right: $margin-big;
    }
    
    nav {
        display: inline-block;
        
        a {
            margin-right: $margin-big;
            position: relative;
            color: $foreground;
            transition: all $transition ease;
            
            &:before, &:after {
                content: " ";
                position: absolute;
                bottom: -1px;
                width: 0;
                height: 1px;
                border-bottom: 2px solid $special;
                transition: all $transition ease;
            }
            
            &:before { left: 50%; }
            &:after { right: 50%; }
            
            &:hover:before, &:hover:after { width: 50%; }
        }
    }
}

#search {
    margin-bottom: $margin-normal;
    
    input {
        border: none;
        border-left: 1px solid $inactive;
        padding: $padding-small;
        box-sizing: border-box;
        width: 100%;
        
        &:focus {
            border-color: $special;
        }
    }
    
    #results {
        .result {
            padding: $padding-small 0;
            padding-left: $padding-normal;
            border-left: 1px solid $inactive;
            transition: all 150ms ease;
            
            &:last-of-type {
                margin-bottom: 0;
            }
            
            .link {
                display: block;
                color: $foreground;
            }
            
            .description {
                display: block;
                color: $foreground-special;
                padding-top: $padding-small;
            }
            
            &:hover {
                border-left-color: $special;
            }
        }
    }
}

.container {
    margin-bottom: $margin-normal;
    padding-bottom: $padding-normal;
    
    .title {
        font-size: $font-big;
        display: block;
        margin-bottom: $margin-small;
    }
    
    .infobar {
        margin: $margin-normal 0;
        font-size: $font-small;
        
        span {
            margin-right: $margin-normal;
            color: $foreground-special;
        }
    }
    
    .content {
        line-height: 1.5rem;
        
        p {
            margin: 0;
            margin-bottom: $margin-big;
        }
        
        @for $i from 1 through 6 {
            h#{$i} {
                font-size: inspect(1.4 - $i/10) + "rem";
                font-weight: normal;
            }
        }
    }
}

#comments_loading {
    font-size: $font-big;
    text-align: center;
}

footer {
    text-align: center;
    line-height: 2rem;
    
    a {
        color: $foreground-special;
    }
}

@media screen and (max-width: 980px) {
    .overlay {
        padding: $padding-small;
        box-sizing: border-box;
    }
    header {
        padding: $padding-normal $padding-small;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 380px) {
    header nav {
        display: block;
        margin-top: $margin-normal;
    }
}