@charset "utf-8";
@import "normalize";
@import "colors";

$wrap-width: 60%;
$footer-height: 100px;

@mixin user-select($property) {
    -webkit-user-select: $property;
    -moz-user-select: $property;
    -ms-user-select: $property;
    user-select: $property;
}

body {
    font: 1rem Roboto, Lato, "Source Sans Pro", sans-serif;
    line-height: 1.5rem;
    background: $background;
    color: $foreground;
}

ul {
    list-style-type: square;
}

::selection {
    background: $selection-bg;
    color: $selection-fg;
}

::-moz-selection {
    background: $selection-bg;
    color: $selection-fg;
}

.overlay {
    position: relative;
    z-index: 2;
    background: $background;
}

.wrap {
    width: $wrap-width;
    margin: 0 auto;
}

a {
    color: $links;
    text-decoration: none;
    outline: 0;

    &:hover, &.active {
        color: $highlight;
    }
}

header, main {
    padding: 10px;
    box-sizing: border-box;
}

header {
    width: 100%;
    margin: 20px 0;
    text-transform: uppercase;

    .logo, nav {
        display: inline-block;
    }

    .logo {
        cursor: default;
        font-size: 1.3rem;
    }

    nav {
        float: right;
        display: block;
        @include user-select(none);

        a {
            display: inline-block;
            margin: 0 10px;
        }

        a:last-of-type {
            margin-right: 0;
        }
    }
}


pre, code.prettyprint {
    font-size: 0.9rem;
    font-family: "Hack", "Source Code Pro", monospace;
    color: $base03;
    border: 1px solid $base04;
    margin: 0;
    padding: 5px;
    overflow-y: auto;
    white-space: nowrap;
    
    & > code {
        display: block;
        overflow-x: auto;
        white-space: pre;
    }
}

@keyframes open-preview {
    from {
        max-height: 0;
    }
    
    to {
        max-height: 640px;
    }
}

@keyframes close-preview {
    from {
        max-height: 640px;
    }
    
    to {
        max-height: 0px;
    }
}

@keyframes icon-rotate {
    from {
        transform: rotate(0deg);
    }
    
    to {
        transform: rotate(-180deg);
    }
}

@keyframes icon-rotate-i {
    from {
        transform: rotate(-180deg);
    }
    
    to {
        transform: rotate(-360deg);
    }
}

.button-preview {
    cursor: pointer !important;
    
    i {
        font-size: 0.9rem;
        vertical-align: 0.2rem;
        transform-origin: center 0.5rem;
        transform: translateZ(0);
    }
    
    &.close {
        i {
            animation: .3s icon-rotate ease forwards;
        }
    }
    
    &.open {
        i {
            animation: .3s icon-rotate-i ease forwards;
        }
    }
}

.preview {
    max-height: 0;
    margin-top: 5px;
    transform-origin: top center;
    overflow-y: auto;
    transform: translateZ(0);
    
    &.open {
        animation: 1s open-preview ease forwards;
    }
    
    &.close {
        animation: 1s close-preview ease forwards;
    }
    
    & > pre, code.prettyprint {
        border: none;
        margin: 0;
        padding: 0;
        white-space: pre;
        & > code {
            padding: 5px;
            overflow-x: auto;
        }
    }
}

main {
    position: relative;
    margin-bottom: $footer-height;
    box-sizing: border-box;
    
    #search {
        border: 1px solid $base06;
        color: $base01;
        width: 100%;
        padding: 5px;
        box-sizing: border-box;
        border-radius: 3px;
    }
    
    #search-result {
        border: 1px solid $base06;
        max-height: 30%;
        overflow-y: auto;
        border-radius: 3px;
        margin-top: 10px;
        display: none;
        
        .result {
            width: 100%;
            overflow: hidden;
            background: $base07;
            
            &:hover {
                background: $search-highlight;
            }
            
            a {
                color: $base02;
                display: block;
                padding: 5px;
                box-sizing: border-box;
                
                .result-desc {
                    color: $base03;
                    font-size: 0.9rem;
                    display: block;
                }
            }
        }
    }
    
    .container {
        margin: 20px 0;
        padding: 20px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background: $base07;
        border: 1px solid $base06;
        border-radius: 3px;

        .title {
            font-size: 1.5rem;
            display: block;
            text-transform: uppercase;
            cursor: default;
        }

        .timestamp, .language, .comp, .tags {
            font-size: 0.7rem;
            display: inline-block;
            line-height: 1.1rem;
            text-transform: uppercase;
            cursor: default;
            color: $subtext;
            margin-bottom: 5px;
            margin-top: 5px;
            margin-right: 10px;
        }

        .content {
            &.description {
                color: $description;
            }
            
            & > :first-child {
                margin-top: 2px;
            }
            
            h1, h2, h3, h4, h5, h6 {
                font-weight: normal;
                text-transform: uppercase;
                cursor: default;
            }

            @for $i from 1 through 6 {
                h#{$i} {
                    font-size: inspect(1.5 - $i/10) + "rem";
                }
            }
            
            img {
                max-width: 100%;
            }
            
            a {
                border-bottom: 1px dashed $base02;
                
                &:hover {
                    border-bottom-color: $highlight;
                }
            }
        }
        
        .comments {
            #comments_loading {
                text-align: center;
                font-size: 2rem;
                color: $base06;
                text-transform: uppercase;
            }
        }
    }
}


.pagination {
    a {
        background: $base07;
        padding: 5px;
        border: 1px solid $base06;
        border-radius: 3px;
        display: inline-block;
        margin-right: 5px;
        
        &:hover {
            border-color: $highlight;
        }
    }
}

footer {
    display: flex;
    height: $footer-height;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1;
    justify-content: center;

    .copyright {
        align-self: center;
        text-align: center;
        text-transform: uppercase;
        color: $base03;
        font-size: 0.8rem;
    }
}

@media (max-width: 980px) {
    .wrap {
        width: 100% !important;
        padding: 0;
    }
}

@media (max-width: 490px) {
    header {
        text-align: center;
        display: block;

        nav {
            display: block;
            width: 100%;
            margin: 10px 0;
            float: none;
            
            a {
                display: block;
                margin: 10px 0;
            }
        }
    }
    
    #search-result {
        max-height: 180px;
        a {
            text-align: center;
        }
    }
}
