@import "../normalize";

$background: #F7F7F7;
$foreground: #353535;

$width: 60%;
$width-mobile: 95%;

$links: #59BFD6;
$links-active: #141414;
$tabs: $links;
$tabs-active: #141414;
$margins: 30px;
$paddings: $margins;

@mixin aspect-ratio($width, $height) {
    position: relative;
    width: 100%;
    padding-bottom: ($height / $width) * 100%;
    display: block;
}

body {
    font: 1rem Roboto, sans-serif;
    background: $background;
    color: $foreground;
}

a {
    text-decoration: none;
    color: $links;
    
    &:hover {
        color: $links-active;
    }
}

ul {
    list-style: square;
}

::-moz-selection {
    background: rgba($links, 0.4);
}

::selection {
    background: rgba($links, 0.4);
}

.center {
    width: $width;
    max-width: 960px;
    margin: 0 auto;
    background: #FCFCFC;
    min-height: 100vh;
    padding: 30px 0;
    padding-top: 0;
    box-sizing: border-box;
    position: relative;
}

.header {
    text-align: center;
    text-transform: uppercase;
    padding-top: $paddings;
    
    .title {
        font-size: 3rem;
        font-weight: 500;
        display: block;
    }
    
    .description {
        margin: $margins 0;
    }
}

#download {
    padding-top: $paddings;
}

.block {
    padding: 20px 10px;
    box-sizing: border-box;
    
    .title {
        font-size: 2rem;
        font-weight: 500;
        
        a {
            font-size: 1rem;
            vertical-align: top;
        }
    }
    
    .text {
        line-height: 2rem;
        
        .frame {
            display: block;
            margin: 0 auto;
            width: 100%;
            
            &.open {
                @include aspect-ratio(16, 9);
            }
            
            &.close {
                padding-top: 0;
            }
        }
        
        .note {
            color: #606060;
            box-sizing: border-box;
            padding-left: 5px;
            border-left: 2px solid darken($background, 10);
            background: darken($background, 3);
            transition: all 150ms ease;
            cursor: help;
            
            &:hover {
                border-left-color: $links;
                color: #303030;
                background: darken($background, 2);
            }
        }
    }
    
    .subblock {
        &:not(:last-of-type) {
            margin-bottom: $margins;
        }
        .title {
            font-size: 1.3rem;
        }
    }
}

.screencasts {
    #tabs {
        .tab {
            font-size: 1rem;
            padding: 1rem;
            line-height: 1rem;
            color: $tabs;
            display: inline-block;
            cursor: pointer;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            width: 25%;
            margin-left: -4px;
            text-align: center;
            
            &.active {
                color: $tabs-active;
            }
        }
    }
    
    #panes {
        position: relative;
        margin-top: 5px;
        
        .frame {
            position: absolute;
            width: 100%;
            position: relative;
            padding-top: 0;
            transform-origin: top center;
            visibility: hidden;
            
            .content {
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
            }
            
            &.active {
                @include aspect-ratio(16, 9);
                visibility: visible;
            }
        }
    }
}

#download {
    text-align: center;
}

#download-btn {
    display: inline-block;
    a {
        font-size: 1.5rem;
        color: $links;
        display: inline-block;
        text-transform: uppercase;
        cursor: pointer;
        display: block;
        
        &:hover {
            color: $links-active;
        }
    }
}

.copyright {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

#links ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

pre, code, kbd
{
    padding: 3px;
    overflow-y: auto;
    
    & > code {
        padding: 0;
    }
    
    .nt { color: #E86A6C }
    .na { color: #69BAE5 }
    .s { color: #A24CDB }
}

@media screen and (max-width: 720px) {
    .center {
        width: $width-mobile;
    }
}
