---
title: Defman's Schemes
description: Defman's schemes for Komodo
name: Defman's Schemes
js:
    - search
---
= partial "partials/search", locals: {file: "schemes"}
- current_page.children.each do |page|
    .container.preview.scheme id=page.data.scheme.id
        span.title = link_to page.data.scheme.name, page.url
        .infobar
            span.comp = "for Komodo #{page.data.scheme.comp}"
        .content.description = truncate_with_ellipses page.data.description, 150
