@charset "utf-8";
@import "normalize";
// colors
@import "colors";
// attributes
$transition: all .2s ease;
$wrap-width: 60%;

@mixin user-select($property) {
    -webkit-user-select: $property;
    -moz-user-select: $property;
    -ms-user-select: $property;
    user-select: $property;
}

@mixin trsn($transition) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    transition: $transition;
}

@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

body {
    font: 1.2em "Lato", "Source Sans Pro", sans-serif;
    line-height: 1.5em;
    background: $background;
    color: $foreground;
}

ul {
    list-style-type: square;
}

::selection {
    background: $selection;
}

::-moz-selection {
    background: $selection;
}

.wrap {
    width: $wrap-width;
    margin: 0 auto;
    padding: 10px;
}

a {
    color: $links;
    text-shadow: 0;
    text-decoration: none;
    outline: 0;
    @include trsn($transition);

    &:hover {
        color: $highlight;
    }

    &:not(.nonewline):after {
        content: "";
        display: block;
    }
}

ul[nodots] {
    list-style: none;
}

.highlight {
    color: $highlight;
}

.hash-about {
    color: $about !important;
}

.hash-projects {
    color: $projects !important;
}

.hash-contact {
    color: $contact !important;
}

header {
    a#h-about:hover, a#home:hover {
        color: $about;
    }
    
    a#projects:hover, a#projects.active {
        color: $projects;
    }

    a#h-contact:hover, a#contact:hover {
        color: $contact;
    }

    a#blog:hover, a#blog.active {
        color: $blog;
    }
}

header {
    width: 100%;
    text-transform: uppercase;
    margin: 20px 0;

    .logo, nav {
        display: inline-block;
    }

    .logo {
        font-size: 1.2em;
        cursor: default;
        @include trsn($transition);
    }

    nav {
        float: right;
        display: block;
        @include user-select(none);

        a {
            display: inline-block;
            margin: 0 10px;
            @include trsn($transition);
        }

        a:last-of-type {
            margin-right: 0;
        }
    }
}

code {
    background: $code;
    padding: 5px;
    font-size: 0.9rem;
    font-family: "Hack", "Source Code Pro", monospace;
}

main {
    .container {
        @include trsn($transition);

        &.article, &.project {
            margin: 20px 0;

            .title {
                margin-bottom: 0;
            }

            .timestamp, .language {
                font-size: 0.7em;
                display: block;
                text-transform: uppercase;
                cursor: default;
                margin-bottom: 20px;
            }

            .content {
                h1, h2, h3, h4, h5, h6 {
                    font-weight: normal;
                }

                @for $i from 1 through 6 {
                    h#{$i} {
                        font-size: inspect(1.7 - $i/10) + "rem";
                    }
                }
            }
        }

        .title {
            font-size: 1.2em;
            display: inline-block;
            text-transform: uppercase;
            cursor: default;
            margin: 20px 0;
            @include trsn($transition)
        }

        
    }
}

footer {
    .copyright {
        text-align: center;
        text-transform: uppercase;
        color: $base03;
        font-size: 0.7em;
    }
}

@media (max-width: 1080px) {
    .wrap {
        width: 95% !important;
    }
}

@media (min-width: 490px) and (max-width: 660px) {
    header {
        nav {
            display: block;
            width: 100%;
            margin: 20px 0;

            a:first-of-type {
                margin-left: 0;
            }
        }
    }
}

@media (max-width: 490px) {
    header {
        text-align: center;

        nav {
            display: block;
            width: 100%;
            margin: 10px 0;
            a {
                display: block;
                margin: 10px 0;
            }
        }

    }
}
