<% wrap_layout :layout do %>
    <div class="blog-content">
        <span class="title"><%= current_page.data.title %></span>
        <span class="timestamp">on <% y, m, d, h, min = current_page.data.date.to_s.match(/(\d{4})(\d{2})(\d{2})(\d{2})(\d{2})/i).captures %><%= "#{y}/#{m}/#{d} #{h}:#{min}" %></span>
        <%= yield %>
    </div>
<% end %>
