@import "../colors";

.highlight {
    &.plaintext code {
        color: $base01;
    }
    
    .n, .nb, .no {
        color: $base01;
    }
    
    .kp {
        color: $base09;
    }
    
    .s1, .s2, .gi {
        color: $base0B;
    }
    
    .k, .nf, .p, .pi, .nt, .vi, .sr {
        color: $base0E;
    }
    
    .nc {
        color: $base0A;
    }
    
    .ss, .s {
        color: $base0B;
    }
    
    .c1 {
        color: $base03;
    }
    
    .mi, .si, .na, .gd {
        color: $base08;
    }
}