@import "../base16";

$fore: #3D3D3D;
$back: #FFFFFF;
$namespace: #3097A0;
$string: #2F9E49;
$string-inline: #65BC9F;
$identifier: $fore;
$keyword: #7268CC;
$class: #F47A0E;
$comment: #ADADAD;
$git-deleted: #E02C2C;
$git-inserted: #2F9E49;

.highlight {
    background: $back;
    overflow: auto;
    padding: 5px;
    line-height: 1.2rem;
    box-sizing: border-box;
    border-left: 1px solid $base05;
    padding-left: 10px;
    
    
    & > code {
        color: $fore;
    }
    
    .n, .nb, .no, .ss, .s {
        color: $namespace;
    }
    
    .kp {
        color: $keyword;
    }
    
    .s1, .s2, .gi {
        color: $string;
    }
    
    .k, .nf, .p, .pi, .nt, .vi, .sr {
        color: $identifier;
    }
    
    .nc {
        color: $class;
    }
    
    .c1 {
        color: $comment;
    }
    
    .mi, .si, .na {
        color: $string-inline;
    }
    
    .gd {
        color: $git-deleted;
    }
    
    .gi {
        color: $git-inserted;
    }
}
