@import "../base16";

$fore: #3D3D3D;
$back: #FFFFFF;
$namespace: #965A92;
$string: #61936D;
$string-inline: #6B8193;
$identifier: $fore;
$keyword: #7E7AA5;
$class: #A56D6D;
$comment: #ADADAD;
$git-deleted: #D66D6D;
$git-inserted: #73CE88;

.highlight {
    background: $back;
    overflow: auto;
    padding: 5px;
    line-height: 1.2rem;
    box-sizing: border-box;
    border-left: 1px solid $base05;
    padding-left: 10px;
    
    
    & > code {
        color: $fore;
    }
    
    .n, .nb, .no, .ss, .s, .nx {
        color: $namespace;
    }
    
    .kp, .kc {
        color: $keyword;
    }
    
    .s1, .s2, .gi {
        color: $string;
    }
    
    .k, .nf, .p, .pi, .nt, .vi, .sr {
        color: $identifier;
    }
    
    .nc, .kd, .kr {
        color: $class;
    }
    
    .c1 {
        color: $comment;
    }
    
    .mi, .si, .na {
        color: $string-inline;
    }
    
    .gd {
        color: $git-deleted;
    }
    
    .gi {
        color: $git-inserted;
    }
}
