---
title: 404?!
og: no
js: yes
extra:
    - search
---
<%= partial "partials/search", locals: {file: "all"} %>
<div class="container" id="lost-soul">
    <span class="title">404 - you're lost</span>
    <span class="timestamp"><i class="fa fa-clock-o"></i> 404</span>
    <span class="tags"><i class="fa fa-tags"></i> 404</span>
    <div class="content">
        There's nothing. I guess you're lost. Use the search.
    </div>
</div>