---
title: 404
og: no
js:
    - search
---
= partial "partials/search", locals: {file: "all"}
.container#404
    span.title 404 - Not Found
    span.timestamp
        i.fa.fa-clock-o>
        | 404
    span.tags
        i.fa.fa-tags>
        | 404
    .content
        | There's nothing. It's 404. Use the search.
