---
title: Defman
js: on
---
<div class="container" id="about">
    <span class="title">About me</span>
    <div class="content">
        <p>I'm web-developer from Russia.</p>
        <p>I know...
            <ul>
                <li>PHP</li>
                <li>Ruby</li>
                <li>Python</li>
                <li><i class="fa fa-language"></i> Russian</li>
                <li><i class="fa fa-language"></i> English</li>
            </ul>
        </p>
        <p>I use...
            <ul>
                <li>Middleman and Sinatra</li>
                <li>GitHub Pages</li>
                <li><a href="//komodoide.com">Komodo IDE</a></li>
                <li><a href="/materia">Materia</a> scheme in Terminal and the editor</li>
                <li>Zsh</li>
                <li>elementary OS</li>
            </ul>
        </p>
    </div>
</div>
<div class="container" id="contact">
    <span class="title">Contact</span>
    <div class="content">
        <p>Want to chat? I stick around there:</p>
        <ul nodots>
            <% data.contacts.each do |service, data| %>
                <li>
                    <a href="<%= data[1] %><%= data[0] %>">
                        <i class="fa fa-<%= data[2] %>"></i> <%= service.capitalize %>
                    </a>
                </li>
            <% end %>
        </ul>
        <p>Choose whatever you want, I'm free around 5PM-8PM UTC.
        Outside those hours you may not get an instant answer.</p>
    </div>
</div>

