---
title: Defman - Materia
description: Materia colors
js: on
layout: layout
extra:
    - palette.lib
---
<!doctype html>
<html lang="en">
<head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <title>Defman:Materia</title>
    <%= stylesheet_link_tag :index %>
    <%= stylesheet_link_tag :palette %>
    <%= stylesheet_link_tag :"font-awesome" %>
</head>
<main>
    <div class="container" id="materia">
        <span class="title">Materia:Palette</span>
        <div class="content">
            This is the palette of my color scheme called Materia:
            <div id="palette">
                <div class="color" id="color-01"></div>
                <div class="color" id="color-02"></div>
                <div class="color" id="color-03"></div>
                <div class="color" id="color-04"></div>
                <div class="color" id="color-05"></div>
                <div class="color" id="color-06"></div>
                <div class="color" id="color-07"></div>
                <div class="color" id="color-08"></div>
            </div>
            <i class="fa fa-github"></i> chriskempson/base16-builder:
            <div id="base-16" class="code">
                <span class="line">scheme: "Materia"</span>
                <span class="line">author: "Defman21"</span>
                <span class="line">base00: "263238"</span>
                <span class="line">base01: "2C393F"</span>
                <span class="line">base02: "37474F"</span>
                <span class="line">base03: "707880"</span>
                <span class="line">base04: "C9CCD3"</span>
                <span class="line">base05: "CDD3DE"</span>
                <span class="line">base06: "D5DBE5"</span>
                <span class="line">base07: "FFFFFF"</span>
                <span class="line base-01">base08: "EC5F67"</span>
                <span class="line base-02">base09: "EA9560"</span>
                <span class="line base-03">base0A: "FFCC00"</span>
                <span class="line base-04">base0B: "8BD649"</span>
                <span class="line base-05">base0C: "80CBC4"</span>
                <span class="line base-06">base0D: "89DDFF"</span>
                <span class="line base-07">base0E: "82AAFF"</span>
                <span class="line base-08">base0F: "EC5F67"</span>
            </div>
			Less/SCSS variables:
			<div id="less-scss" class="code">
				<span class="line">$base00: #263238;</span>
				<span class="line">$base01: #2C393F;</span>
				<span class="line">$base02: #37474F;</span>
				<span class="line">$base03: #707880;</span>
				<span class="line">$base04: #C9CCD3;</span>
				<span class="line">$base05: #CDD3DE;</span>
				<span class="line">$base06: #D5DBE5;</span>
				<span class="line">$base07: #FFFFFF;</span>
				<span class="line base-01">$base08: #EC5F67;</span>
				<span class="line base-02">$base09: #EA9560;</span>
				<span class="line base-03">$base0A: #FFCC00;</span>
				<span class="line base-04">$base0B: #8BD649;</span>
				<span class="line base-05">$base0C: #80CBC4;</span>
				<span class="line base-06">$base0D: #89DDFF;</span>
				<span class="line base-07">$base0E: #82AAFF;</span>
				<span class="line base-08">$base0F: #EC5F67;</span>
			</div>
        </div>
    </div>
    <div id="license" class="container">
        <span class="title">License</span>
        <div class="content">
            Materia is licensed under a
            <a class="nonewline" href="//creativecommons.org/licenses/by-sa/4.0/">
                CC BY-SA 4.0 International License
            </a>.
        </div>
    </div>
</main>
