ruby:
    resources = children('blog').select do |resource|
        resource.metadata[:options][:layout] != :layout
    end
    
    articles = []
    
    resources.each do |resource|
        articles << {
            name: resource.metadata[:page][:title],
            regex: resource.metadata[:page][:title],
            url: resource.url,
            desc: truncate_with_ellipses(resource.metadata[:page][:description], 70),
            type: :article,
            tags: resource.metadata[:page][:tags] || "",
            uuid: uuid
        }
    end
    
    resources = children('projects').select do |resource|
        resource.metadata[:options][:layout] != :layout
    end

    projects = []
    
    resources.each do |resource|
        projects << {
            name: resource.metadata[:page][:project][:name],
            regex: resource.metadata[:page][:project][:name],
            url: resource.url,
            desc: truncate_with_ellipses(resource.metadata[:page][:description], 70),
            tags: resource.metadata[:page][:tags] || "",
            type: :project,
            lang: resource.metadata[:page][:project][:lang],
            uuid: uuid
        }
    end
    
    resources = children('schemes').select do |resource|
        resource.metadata[:options][:layout] != :layout
    end
    
    schemes = []
    
    resources.each do |resource|
        schemes << {
            name: resource.metadata[:page][:scheme][:name],
            regex: resource.metadata[:page][:scheme][:name],
            url: resource.url,
            desc: truncate_with_ellipses(resource.metadata[:page][:description], 70),
            type: :scheme,
            uuid: uuid
        }
    end
    
    final = articles + projects + schemes
= final.to_json
